n8n-whatsapp-workflow.json
{
  "name": "Confeitaria Mika - Atendimento WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-mika",
        "responseMode": "onReceived",
        "options": { "noResponseBody": true }
      },
      "id": "webhook-trigger",
      "name": "Receber Mensagem WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "whatsapp-mika-confeitaria"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "leftValue": "={{ $json.body.event }}",
              "operator": { "type": "string", "operation": "equals" },
              "rightValue": "MESSAGES_UPSERT"
            },
            {
              "leftValue": "={{ String($json.body.data.key.fromMe) }}",
              "operator": { "type": "string", "operation": "notEquals" },
              "rightValue": "true"
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-message",
      "name": "Filtrar Mensagem Recebida",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "phoneNumber",
              "value": "={{ ($json.body.data.key.remoteJid || '').split('@')[0] }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "customerName",
              "value": "={{ $json.body.data.pushName || 'Cliente' }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "messageText",
              "value": "={{ $json.body.data.message.conversation || ($json.body.data.message.extendedTextMessage || {}).text || '' }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "extract-data",
      "name": "Extrair Dados da Mensagem",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [520, 200]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messageText }}",
        "options": {
          "systemMessage": "Voce e a atendente virtual da Confeitaria Mika, uma confeitaria de alto padrao.\nSeu papel e duplo: 1) Conduzir o cliente em atendimento acolhedor e humanizado; 2) Gerar ordem de servico precisa.\n\nREGRAS FUNDAMENTAIS:\n- NUNCA envie uma lista de perguntas de uma so vez. Faca conversa fluida, perguntando UM item por vez.\n- Valide as informacoes: confirme o dia da semana quando o cliente der uma data.\n- So encerre e gere a ficha quando TUDO estiver confirmado.\n\nETAPAS OBRIGATORIAS (nesta ordem exata):\n1. MASSA: Pergunte o sabor da massa desejada.\n2. RECHEIO: Pergunte quais serao os sabores do recheio.\n3. PERSONALIZADOS E TEMA: Pergunte com riqueza de detalhes sobre a decoracao (topo de bolo, tema, nomes, idades, cores).\n4. DATA E DIA DA SEMANA: Solicite a data exata e pergunte qual e o dia da semana correspondente.\n5. LOGISTICA: Pergunte se o cliente vira buscar ou precisa de entrega. Se entrega: exija endereco completo com ponto de referencia.\n6. REVISAO: Envie resumo rapido para o cliente aprovar.\n\nCRONOGRAMA REVERSO (use rigorosamente como gabarito):\n- Entrega DOMINGO: Massa TERCA | Recheio QUARTA | Personalizados QUINTA\n- Entrega SABADO: Massa SEGUNDA | Recheio TERCA | Personalizados QUARTA\n- Entrega SEXTA: Massa DOMINGO | Recheio SEGUNDA | Personalizados TERCA\n- Entrega QUINTA: Massa SABADO | Recheio DOMINGO | Personalizados SEGUNDA\n- Entrega QUARTA: Massa SEXTA | Recheio SABADO | Personalizados DOMINGO\n- Entrega TERCA: Massa QUINTA | Recheio SEXTA | Personalizados SABADO\n- Entrega SEGUNDA: Massa QUARTA | Recheio QUINTA | Personalizados SEXTA\n\nQuando o cliente confirmar (ex: Sim, esta correto), despeca-se e gere a Ordem de Servico EXATAMENTE assim:\n\n=== INICIO DA FICHA DE PRODUCAO ===\n\nPEDIDO CONFIRMADO\n\nNome do Cliente: [Nome]\nData da Entrega: [DD/MM/AAAA]\nDia da Semana: [Dia]\nModalidade: [Retirada OU Entrega]\nEndereco: [Endereco completo ou Retirada no Atelie]\n\nMassa: [Sabor da Massa]\nRecheio: [Sabores do Recheio]\nTema e Personalizados: [Descricao completa]\n\nCronograma:\n[Dia -5]: Bater todas as massas\n[Dia -4]: Mexer e dar ponto nos recheios\n[Dia -3]: Iniciar personalizados\n[Dia da Entrega]: Montagem final e despacho\n\n=== FIM DA FICHA DE PRODUCAO ==="
        }
      },
      "id": "ai-agent",
      "name": "Atendente Virtual Mika",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [780, 200]
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash"
      },
      "id": "gemini-model",
      "name": "Google Gemini Flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [780, 420]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extrair Dados da Mensagem').item.json.phoneNumber }}",
        "contextWindowLength": 20
      },
      "id": "memory",
      "name": "Memoria por Cliente",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [980, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolution-api:8080/message/sendText/mika",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.EVOLUTION_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $('Extrair Dados da Mensagem').item.json.phoneNumber, text: $json.output }) }}"
      },
      "id": "send-reply",
      "name": "Enviar Resposta WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "leftValue": "={{ $('Atendente Virtual Mika').item.json.output }}",
              "operator": { "type": "string", "operation": "contains" },
              "rightValue": "INICIO DA FICHA DE PRODUCAO"
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-order",
      "name": "Pedido Confirmado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1300, 200]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const text = $('Atendente Virtual Mika').item.json.output || '';\nconst nomeMatch = text.match(/Nome do Cliente:\\s*(.+)/);\nconst nomeCliente = nomeMatch ? nomeMatch[1].trim() : 'Cliente';\nconst dataMatch = text.match(/Data da Entrega:\\s*(\\d{2})\\/(\\d{2})\\/(\\d{4})/);\nlet dataEntrega = new Date().toISOString().split('T')[0];\nif (dataMatch) { dataEntrega = dataMatch[3] + '-' + dataMatch[2] + '-' + dataMatch[1]; }\nconst massaMatch = text.match(/Massa:\\s*(.+)/);\nconst saborBolo = massaMatch ? massaMatch[1].trim() : 'A definir';\nconst temPersonalizados = /topo de bolo|personalizado/i.test(text);\nreturn { json: { nomeCliente, dataEntrega, saborBolo, possui_personalizados: temPersonalizados } };"
      },
      "id": "extract-order",
      "name": "Extrair Dados do Pedido",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:3000/pedidos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.BACKEND_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ nomeCliente: $json.nomeCliente, dataEntrega: $json.dataEntrega, saborBolo: $json.saborBolo, possui_personalizados: $json.possui_personalizados }) }}"
      },
      "id": "create-order",
      "name": "Criar Pedido no Sistema",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1820, 120]
    }
  ],
  "connections": {
    "Receber Mensagem WhatsApp": {
      "main": [[{ "node": "Filtrar Mensagem Recebida", "type": "main", "index": 0 }]]
    },
    "Filtrar Mensagem Recebida": {
      "main": [
        [{ "node": "Extrair Dados da Mensagem", "type": "main", "index": 0 }],
        []
      ]
    },
    "Extrair Dados da Mensagem": {
      "main": [[{ "node": "Atendente Virtual Mika", "type": "main", "index": 0 }]]
    },
    "Atendente Virtual Mika": {
      "main": [[{ "node": "Enviar Resposta WhatsApp", "type": "main", "index": 0 }]]
    },
    "Google Gemini Flash": {
      "ai_languageModel": [[{ "node": "Atendente Virtual Mika", "type": "ai_languageModel", "index": 0 }]]
    },
    "Memoria por Cliente": {
      "ai_memory": [[{ "node": "Atendente Virtual Mika", "type": "ai_memory", "index": 0 }]]
    },
    "Enviar Resposta WhatsApp": {
      "main": [[{ "node": "Pedido Confirmado?", "type": "main", "index": 0 }]]
    },
    "Pedido Confirmado?": {
      "main": [
        [{ "node": "Extrair Dados do Pedido", "type": "main", "index": 0 }],
        []
      ]
    },
    "Extrair Dados do Pedido": {
      "main": [[{ "node": "Criar Pedido no Sistema", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
